.background {
  background-color: #023e7a;
  margin-top: 5%;
  font-family: "Rubik", sans-serif;
}

.trophy {
  padding-top: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 10%; */
}

.hadiah {
  color: white;
}

.hadiah h1 {
  margin-top: 2%;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

.hadiah h3 {
  font-size: 30px;
  text-align: center;
}

.kotak {
  max-width: 30% !important;
  height: 406px;
  margin: 5% 1%;
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #023e7a;
}

.kotak h2 {
  margin-top: 2.5%;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

.kotak p {
  color: black;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

.teksduit {
  font-size: 24px !important;
  font-weight: 400 !important;
  text-align: center;
}

.hand {
  position: absolute;
  margin-top: -300px;
  left: 25px;
  height: auto;
  width: 400px;
}

.bulet {
  position: absolute;
  margin-top: -250px;
  right: 100px;
  height: auto;
  width: 500px;
}

@media screen and (max-width: 500px) {
  .background {
    margin-top: 25%;
  }

  .trophy {
    padding-top: 7.5%;
    width: 25%;
  }

  .hadiah h1 {
    margin-top: 5%;
    font-size: 40px;
  }

  .hadiah h3 {
    font-size: 20px;
  }

  .kotak {
    max-width: 90% !important;
    height: 250px;
    margin: 5% 1%;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #023e7a;
  }

  .hand {
    position: absolute;
    margin-top: -300px;
    left: 0px;
    height: auto;
    width: 400px;
    opacity: 0.3;
  }
  
  .bulet {
    position: absolute;
    margin-top: -250px;
    right: 160px;
    height: auto;
    width: 75%;
    /* opacity: 0.3; */
  }

  .kotak h2 {
    font-size: 40px;
  }
  
  .kotak p {
    font-size: 36px;
  }
  
  .teksduit {
    font-size: 18px !important;
  }
}
