.lamp {
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kategori {
  font-family: "Rubik", sans-serif;
}

.kategori h1 {
  margin-top: 2%;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

.backgroundk {
  margin-top: 2.5%;
  background-color: #facc07;
}

.carousel {
  padding: 5% 0%;
}

.rectkategori {
  width: 35rem;
  height: 30rem;
  color: black;
  background: white;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px !important;
  text-align: center !important;
  vertical-align: middle !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  flex-direction: unset !important;
}

.rectkategori h2 {
  font-size: 36px;
  font-weight: bold;
}

.rectkategori small {
  font-size: 20px;
}

.rectkategori small.last {
  font-size: 18px;
  line-height: 25% !important;
}

.comp {
  position: absolute;
  right: 100px;
  margin-top: -215px;
  z-index: -1;
}

.bunderan {
  position: absolute;
  left: 100px;
  margin-top: -500px;
  z-index: -1;
}

.numbering {
  width: 120px;
  line-height: 120px;
  border-radius: 50%;
  font-size: 32px;
  border: 3px solid #000;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 500px) {
  .rectkategori {
    width: 20rem;
    height: 20rem;
    color: black;
    background: white;
    border: 0px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: unset !important;
  }

  .rectkategori h2 {
    font-size: 23px;
    font-weight: bold;
  }

  .rectkategori small {
    font-size: 12px;
  }

  .rectkategori small.last {
    font-size: 11px;
  }

  .rectkategori h2.last {
    line-height: 0.9 !important;
  }

  .kategori h1 {
    font-size: 40px;
  }

  .comp {
    width: 60%;
    height: auto;
    position: absolute;
    right: 0px;
    margin-top: -90px;
    z-index: -1;
    opacity: 0 !important;
  }

  .bunderan {
    width: 50%;
    height: auto;
    position: absolute;
    left: 0px;
    margin-top: -225px;
    z-index: -1;
  }

  .lamp {
    padding-top: 20%;
    width: 25%;
    height: auto;
  }
}

@media screen and (max-width: 1300px) {
  .comp {
    padding-top: 10px;
    right: -40px;
  }
}
