.content {
  margin-top: 5%;
  font-family: "Rubik", sans-serif;
}

.content h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.content h2 {
  font-size: 24px;
  line-height: 36px;
}

.content p {
  font-size: 36px;
  color: #ffffff;
}

.point {
  margin-top: 5%;
}

.point-content {
  margin-bottom: 5%;
}

.rectangle-odd {
  width: 56px;
  height: 56px;
  float: left;

  background: #023e7a;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
}

.rectangle-even {
  width: 56px;
  height: 56px;
  float: right;

  background: #facc07;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
}

.text-odd {
  margin-left: 7.5%;
}

.text-even {
  text-align: right;
  margin-right: 7.5%;
}

.keterangan {
  background-color: #023e7a !important;
  border-radius: 10px !important;
}

.keterangan p {
  font-size: 36px !important;
  text-align: center;
  text-transform: uppercase;
}

/* .rectangle-keterangan {
  width: 800px;
  height: 180px;
  margin: 10px auto;
  display: flex;
  background: #023e7a fixed center;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
} */

.phone {
  position: absolute;
  width: 25%;
  height: auto;
  margin-top: -750px;
  right: 0px;
  z-index: -1;
}

.button {
  position: absolute;
  margin-top: -920px;
  right: 300px;
  z-index: -1;
}

.circle {
  position: absolute;
  margin-top: -720px;
  left: 100px;
  z-index: -1;
}

@media screen and (max-width: 500px) {
  .content h1 {
    margin-top: 10%;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }

  .content h2 {
    font-size: 18px;
    line-height: 28px;
  }

  .content p {
    font-size: 20px;
    color: #ffffff;
  }

  .rectangle-odd {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 7%;
  
    background: #023e7a;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
  }
  
  .rectangle-even {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 7%;
  
    background: #facc07;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
  }

  .text-odd {
    padding: 5% 0;
    margin-left: 12.5%;
  }
  
  .text-even {
    padding: 5% 0;
    text-align: right;
    margin-right: 12.5%;
  }

  .phone {
    position: absolute;
    width: 40%;
    height: auto;
    margin-top: -500px;
    right: 0px;
    opacity: 0.3;
    z-index: -1;
  }
  
  .button {
    max-width: 150px;
    height: auto;
    right: 0px !important;
    opacity: 0.3;
    z-index: -1;
  }
  
  .circle {
    max-width: 100px;
    height: auto;
    position: absolute;
    left: -15px;
    opacity: 0.3;
    z-index: -1;
  }

  .keterangan p {
    font-size: 24px !important;
  }
}