nav {
  font-family: "Rubik", sans-serif;
}
.nav-item {
  margin-right: 10px;
  font-size: 16px;
}

#beranda #tentang #ketentuan #hadiah #kategori #timeline #kriteria #faq {
  scroll-behavior: smooth;
}

button.nav-link {
  border-radius: 20px;
  padding-left: 40px !important;
  padding-right: 40px !important;
  outline: none;
  /* border: none; */
  background-color: transparent;
}

.navbar-brand {
  width: 15%;
}

@media screen and (max-width: 500px) {
  .navbar-brand {
    width: 30%;
  }
}
