.konten8 {
  text-align: center;
  margin-top: 10%;
  position: relative;
}

.gallery {
  margin: 50px;
}

.gbrgallery {
  width: 100%;
}

.ornament9 {
  position: absolute;
  top: -100px;
  left: 500px;
  width: 13%;
}

.cloud2 {
  position: absolute;
  top: -120px;
  right: 402px;
}

@media screen and (max-width: 500px) {
  .gallery {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .gbrgallery {
    width: 100%;
  }
  .ornament9 {
    position: absolute;
    top: 0;
    left: 10%;
    width: 25%;
    /* z-index: -99; */
    opacity: 0 !important;
  }

  .cloud2 {
    visibility: hidden;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .ornament9 {
    position: absolute;
    top: -25px;
    left: 200px;
    width: 15%;
  }

  .cloud2 {
    position: absolute;
    top: -120px;
    right: 0px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .ornament9 {
    position: absolute;
    top: -76px;
    left: 310px;
    width: 15%;
  }

  .cloud2 {
    position: absolute;
    top: -120px;
    right: 150px;
  }
}
