.konten6 {
  text-align: center;
  margin-top: 70px;
  position: relative;
}

.konten6 h1 {
  margin-bottom: 25px;
}

.gmbrkalender {
  width: 10%;
  margin-bottom: 15px;
}

.kontainerbar {
  width: 100%;
  height: 300px;
  text-align: center;
  /* margin-bottom: 70px; */
}

.progressbar {
  /* counter-reset: step; */
}

.progressbar li {
  list-style-type: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.progressbar li b {
  font-size: 25px;
}

.progressbar li::before {
  content: "";
  /* counter-increment: step; */
  width: 60px;
  height: 60px;
  line-height: 50px;
  border: 4px dashed #d0d7e0;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  /* background-color: black; */
  top: 28px;
  left: -50%;
  z-index: -1;
  border: 3px dashed #d0d7e0;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: black;
}

.progressbar li.active:before {
  border: none;
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.progressbar li.active + li:after {
  border: 3px dashed #023e7a;
}

.ornament4 {
  position: absolute;
  left: 0;
  width: 25%;
  top: -80px;
}

.ornament5 {
  position: absolute;
  right: 0;
  width: 35%;
  top: -136px;
}
