.konten {
  margin-top: 15%;
  padding-left: 0 !important;
  /* padding-right: 0 !important; */
  font-family: "Rubik", sans-serif;
}

.konten p {
  margin-top: 5%;
  margin-bottom: 5%;
}

.konten h1 {
  font-size: 50px;
}

.konten button {
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #023e7a;
  color: white;
  outline: none;
  border: none;
}

.ornament2 {
  position: absolute;
  top: 60px;
  left: 30px;
}
